 .container {
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
 }

 @media screen and (min-width: 320px) and (max-width: 479px) {
   .container {
     max-width: 290px;
   }
 }

 @media screen and (min-width: 480px) and (max-width: 767px) {
   .container {
     max-width: 450px;
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1199px) {
   .container {
     max-width: 738px;
   }
 }

 @media screen and (min-width: 320px) and (max-width: 479px) {
   .main-header {
     margin-top: 0;
     font-size: 28px;
   }
 }

 @media screen and (min-width: 480px) and (max-width: 767px) {
   .main-header {
     margin-top: 0;
     font-size: 30px;
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1199px) {
   .main-header {
     margin-top: 0;
     font-size: 32px;
   }
 }

 .main-header {
   text-align: center;
 }

 .main-body {
   background-color: #879bde;
 }

 .page-list {
   margin: 0;
   padding: 0;
   display: flex;
   list-style: none;
   gap: 20px;
   justify-content: center;
 }

 .page-list-main {
   display: flex;
   list-style: none;
   gap: 20px;
   justify-content: center;
   padding: 0;
 }

 @media screen and (min-width: 320px) and (max-width: 479px) {
   .page-list-main {
     padding-left: 0;
     justify-content: center;
   }
 }

 @media screen and (min-width: 480px) and (max-width: 767px) {
   .page-list-main {
     padding-left: 0;
     justify-content: center;
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1199px) {
   .page-list-main {
     padding-left: 0;
     justify-content: center;
   }
 }

 .page-ref {
   text-decoration: underline;
   font-size: 24px;
   font-weight: 700;
   color: brown;
 }

 @media screen and (min-width: 320px) and (max-width: 479px) {
   .page-ref {
     font-size: 20px;
   }
 }

 @media screen and (min-width: 480px) and (max-width: 767px) {
   .page-ref {
     font-size: 22px;
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1199px) {
   .page-ref {
     font-size: 24px;
   }
 }

 .aspect-body {
   background-color: aqua;
 }

 .aspect-title {
   text-align: center;
 }

 @media screen and (min-width: 320px) and (max-width: 479px) {
   .aspect-title {
     font-size: 20px;
   }
 }

 @media screen and (min-width: 480px) and (max-width: 767px) {
   .aspect-title {
     font-size: 22px;
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1199px) {
   .aspect-title {
     font-size: 24px;
   }
 }

 .aspect-group {
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-bottom: 20px;
 }

 @media screen and (min-width: 768px) {
   .form-aspect {
     margin-top: 50px;
     margin-left: 40px;

     padding: 10px;
     border-width: 4px;
     max-width: 660px;
   }
 }

 @media screen and (min-width: 0px) and (max-width: 1199px) {

   .aspect-group {
     padding-left: 15px;
     padding-right: 15px;
     padding-top: 15px;
   }
 }

 @media screen and (min-width: 0px) and (max-width: 767px) {
   .form-aspect {
     margin-left: 0;
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1199px) {
   .form-aspect {
     padding: 0;
     margin-bottom: 15px;
     padding-right: 78px;
   }
 }

 .form-aspect {
   margin: 0;
   border-radius: 10px;
   border-color: crimson;
   border-style: solid;
   margin-bottom: 20px;

 }


 @media screen and (min-width: 320px) and (max-width: 479px) {
   .form-aspect {
     margin-bottom: 15px;
   }
 }

 @media screen and (min-width: 480px) and (max-width: 767px) {
   .form-aspect {
     margin-bottom: 15px;
   }
 }

 .aspect-calc {
   border-style: none;
   padding: 15px 20px;
   color: red;
   background-color: black;
   font-weight: 700;
   cursor: pointer;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 15px;
 }

 .aspect-calc:hover {
   color: white;
   background-color: blue;
 }

 @media screen and (min-width: 0px) and (max-width: 767px) {
   .section-aspects {
     display: block;
   }
 }

 @media screen and (min-width: 1200px) {
   .section-aspects {
     display: flex;
     align-items: baseline;
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1199px) {
   .section-aspects {
     display: block;
   }
 }

 .item-aspect {
   list-style: none;
   margin-bottom: 10px;
   font-weight: 700;
   font-size: 24px;
 }

 .item-aspect:last-child {
   margin-bottom: 0;
 }

 @media screen and (min-width: 320px) and (max-width: 479px) {
   .item-aspect {
     font-size: 20px;
     width: 290px;
     text-align: center;
   }
 }

 @media screen and (min-width: 480px) and (max-width: 767px) {
   .item-aspect {
     font-size: 22px;
     width: 450px;
     text-align: center;
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1199px) {
   .item-aspect {
     font-size: 24px;
     width: 738px;
     text-align: center;
   }
 }

 @media screen and (min-width: 0px) and (max-width: 1199px) {
   .aspect-header {
     display: flex;
     align-items: baseline;
   }
 }

 @media screen and (min-width: 320px) and (max-width: 479px) {
   .aspect-header {
     justify-content: center;
     margin-bottom: 10px;
   }
 }

 @media screen and (min-width: 480px) and (max-width: 767px) {
   .aspect-header {
     justify-content: center;
     margin-bottom: 10px;
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1199px) {
   .aspect-header {
     justify-content: center;
     margin-bottom: 10px;
   }
 }

 .section-heand {
   text-align: center;
 }

 @media screen and (min-width: 320px) and (max-width: 479px) {
   .section-heand {
     margin-top: 0;
     text-align: center;
     font-size: 20px;
   }
 }

 @media screen and (min-width: 480px) and (max-width: 767px) {
   .section-heand {
     margin-top: 0;
     text-align: center;
     font-size: 22px;
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1199px) {
   .section-heand {
     margin-top: 0;
     text-align: center;
     font-size: 24px;
   }
 }

 @media screen and (min-width: 0px) and (max-width: 767px) {
   .aspect-planet {
     display: flex;
     flex-direction: column;
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1199px) {
   .aspect-planet {
     display: flex;
     align-items: baseline;
   }
 }

 /* @media screen and (min-width: 768px) {
   .aspect-planet {
     display: flex;
     align-items: baseline;
     gap: 15px;
   }
 }*/

 @media screen and (min-width: 320px) and (max-width: 479px) {
   .aspect-lable {
     margin-bottom: 10px;
     text-align: center;
     font-size: 20px;
     font-weight: 700;
     color: blue;
   }
 }

 @media screen and (min-width: 480px) and (max-width: 767px) {
   .aspect-lable {
     margin-bottom: 10px;
     text-align: center;
     font-size: 22px;
     font-weight: 700;
     color: blue;
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1199px) {
   .aspect-lable {
     margin-right: 15px;
     font-size: 20px;
     font-weight: 700;
     color: blue;
   }
 }

 @media screen and (min-width: 320px) and (max-width: 479px) {

   .select-znak,
   .input-derg {
     margin-bottom: 10px;
   }
 }

 @media screen and (min-width: 320px) and (max-width: 479px) {
   .input-derg {
     text-align: center;
   }
 }

 @media screen and (min-width: 480px) and (max-width: 767px) {
   .input-derg {
     text-align: center;
     margin-bottom: 10px;
   }
 }


 @media screen and (min-width: 320px) and (max-width: 479px) {
   .select-znak {
     text-align: center;
   }
 }

 @media screen and (min-width: 480px) and (max-width: 767px) {
   .select-znak {
     text-align: center;
     margin-bottom: 10px;
   }
 }

 @media screen and (min-width: 320px) and (max-width: 479px) {
   .label-degr-sun {
     text-align: center;
     margin-bottom: 10px;
     font-weight: 700;
     font-size: 20px;
     color: blue;
   }
 }

 @media screen and (min-width: 480px) and (max-width: 767px) {
   .label-degr-sun {
     text-align: center;
     margin-bottom: 10px;
     font-weight: 700;
     font-size: 22px;
     color: blue;
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1199px) {
   .label-degr-sun {
     text-align: center;
     margin-bottom: 10px;
     font-weight: 700;
     font-size: 24px;
     color: blue;
   }
 }

 @media screen and (min-width: 320px) and (max-width: 479px) {
   .label-min {
     text-align: center;
     margin-bottom: 10px;
     font-weight: 700;
     font-size: 20px;
     color: blue;
   }
 }

 @media screen and (min-width: 480px) and (max-width: 767px) {
   .label-min {
     text-align: center;
     margin-bottom: 10px;
     font-weight: 700;
     font-size: 22px;
     color: blue;
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1199px) {
   .label-min {
     text-align: center;
     margin-bottom: 10px;
     font-weight: 700;
     font-size: 24px;
     color: blue;
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1199px) {
   .select-znak {
     max-width: 90px;
     margin-right: 60px;
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1199px) {
   .input-derg {
     max-width: 60px;
     margin-left: 10px;
     margin-right: 65px;
     text-align: center;
   }
 }

 @media screen and (min-width: 0px) and (max-width: 1199px) {

   .aspect-calc {
     margin-bottom: 15px;
   }

 }

 @media screen and (min-width: 320px) and (max-width: 479px) {
   .input-min {
     text-align: center;
   }
 }

 @media screen and (min-width: 480px) and (max-width: 767px) {
   .input-min {
     text-align: center;
   }
 }

 .aspects-list {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0;
   padding: 0;
 }

 @media screen and (min-width: 320px) and (max-width: 479px) {
   .aspects-list {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0;
     padding: 0;
   }
 }

 @media screen and (min-width: 480px) and (max-width: 767px) {
   .aspects-list {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0;
     padding: 0;
   }
 }

 @media screen and (min-width: 768px) and (max-width: 1199px) {
   .aspects-list {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 0;
     padding: 0;
   }

 }

 @media screen and (min-width: 768px) and (max-width: 1199px) {
   .input-min {
     max-width: 60px;
     margin-left: 10px;
     text-align: center;
   }
 }

 .transit_button_calc {
   border: none;
   padding: 10px;
   cursor: pointer;
   font-weight: 700;
   font-size: 24px;
   background-color: rgb(191, 66, 174);
   color: rgb(54, 68, 69);
 }

 .houses-list {
   list-style: none;
   margin-right: 25px;

 }

 .house-paragh {
   font-weight: 700;
   font-size: 24px;
   color: rgb(21, 121, 146);
   transition: color 500ms linear;
 }

 .house-li {
   cursor: pointer;
 }

 .house-paragh:hover {
   color: rgb(101, 186, 75);
 }

 .houses-list-dates {
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-bottom: 20px;
 }

 .houses-list-item {
   border: 4px solid #4a2b7c;
   padding: 35px;
   cursor: pointer;
   transition: background-color 500ms linear;
   transition: box-shadow 500ms linear;
   border-radius: 10px;
 }

 .group-list-houses {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 39px;
 }

 .houses-list-label {
   color: #e766da;
   line-height: 0%;
   font-family: "Roboto", sans-serif;
   font-weight: 700;
 }

 .houses-list-select {
   border-radius: 10px;
   background: rgba(86, 75, 108, 0.33);
   text-align: center;
   color: #000;
   line-height: 0%;
   font-weight: 700;
 }

 .calc-date {
   display: flex;
   gap: 400px;
   justify-content: center;
 }

 .planet-list {
   list-style: none;
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   gap: 46px;
 }

 .planet-item {
   border: 4px solid #4a2b7c;
   padding: 35px;
   cursor: pointer;
   transition: background-color 500ms linear;
   transition: box-shadow 500ms linear;
   border-radius: 10px;
 }

 .group-planet {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 39px;
 }

 .planet-label {
   color: #e766da;
   line-height: 0%;
   font-family: "Roboto", sans-serif;
   font-weight: 700;
 }

 .select-zn-zodiak {
   border-radius: 10px;
   background: rgba(86, 75, 108, 0.33);
   text-align: center;
   color: #000;
   line-height: 0%;
   font-weight: 700;

 }

 .calc-button {
   display: flex;
   flex-direction: column;
   align-items: center;
 }