.main-header {
  text-align: center;
}

.main-body {
  background-color: #879bde;
}

.page-list {
  display: flex;
  list-style: none;
  gap: 20px;
}

.page-ref {
  text-decoration: underline;
  font-size: 24px;
  font-weight: 700;
  color: brown;
}

.aspect-body {
  background-color: aqua;
}

.aspect-title {
  text-align: center;
}

.aspect-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.form-aspect {
  margin-top: 50px;
  margin-left: 40px;
  border-style: solid;
  padding: 10px;
  border-color: crimson;
  border-width: 4px;
  max-width: 660px;
}

.aspect-calc {
  border-style: none;
  padding: 15px 20px;
  color: red;
  background-color: black;
  font-weight: 700;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}